@import 'variables';

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;

  &.lock {
    overflow: hidden;
  }

  &.opened {

    .mobile-menu-overlay {
      display: block;
    }

    .mobile-menu {
      right: 0;
    }
  }
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary-alt-color;
}
